.container {
	max-width: 500px;
	min-width: 350px;
}

#geoError {
	display: none;
	text-align: center;
}

#error {
	display: none;
}

#output {
	display: none;
}

//@import "node_modules/bootstrap/scss/bootstrap";