@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Scada');

.container {
	max-width: 550px;
	min-width: 550px;
}

#geoError {
	display: none;
	text-align: center;
}

#error {
	display: none;
}

#output {
	display: none;
}

#temp {
	font-size: 450%;
}
#weatherImg {
	height: auto;
	width: 60px;
}

#temp {
	display: inline-block;
}

#buttonDisplay {
	display: inline-block;
}

.nice-grey {
	color: #a2a2a2;
}


//@import "node_modules/bootstrap/scss/bootstrap";